<section id="login">
  <header>
      <h3>Log in</h3>
  </header>
  <% if has_integration? %>
  <p>Enter your email address or domain to log in with OpenID</p>
    <% form_tag openid_start_path do -%>
    <p><%= label_tag 'identifier', 'E-mail or domain' %>
    <%= text_field_tag 'identifier', nil %></p>
    <p><%= submit_tag 'Log in with OpenID' %></p>
    <% end -%>
    <p>Or if you have a user name and password, enter them below.</p>
  <% end %>

<% form_tag session_path do -%>
<p><%= label_tag 'email' %>
<%= text_field_tag 'email', @email %></p>

<p><%= label_tag 'password' %>
<%= password_field_tag 'password', nil %></p>

<!--><p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->
<p><%= submit_tag 'Log in' %></p>
<% end -%>
</section>